body {
    padding: 50px;
    text-align: center;
    background-color: #454d66;
    color: white;
}

.header {
    font-size: 4em;
    margin-bottom: 0px;
    color: #efeeb4;
}

.subheader {
    font-size: 2em;
}

.project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 20vw;
    height: 25vh;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2vw;
    margin: 1.5vw;
}

.button {
    display: inline-block;
    border: 1px solid #b7c8cb;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #549F93;
    color: white;
    transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
    font-size: 1.1em;
}
