body {
    background-color: slategray;
}

.square {
    height: 50px;
    width: 50px;
    border: solid black;
    text-align: center;
}

.black-square {
    background-color: darkgreen;
}

.white-square {
    background-color: papayawhip;
}

#size {
    margin-left: 42%;
}

#run {
    margin-right: 38%;
}

#center {
    margin: auto;
    max-height: 10%;
    width: 80%;
    padding: 20px;
}

#board {
    margin: auto;
}